<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<p>
  Lista de Cursos  
</p>
<p>Página: {{ pagina }}</p>
<div class="collection">
  <a class="collection-item"
  *ngFor="let curso of cursos" 
  [routerLink]="[curso.id]"
  > {{ curso.nome }}</a>
</div>
<button (click)="proximaPagina()">Próxima Página</button>