<div class="row">
    <div class="col s6">

        <div class="col s6">
            Lista de Alunos
        </div>
        <!-- <div class="col s6" style="text-align: right;">
            <a class="waves-effect waves-light btn" 
            (click)="incluirContato()">
            Incluir
        </a>
        </div> -->
        <br><br>
        <div class="collection">
            <a class="collection-item" *ngFor="let aluno of alunos" [routerLink]="[aluno.id]">
                {{aluno.nome}}
            </a>
        </div>
    </div>

    <div class="col s6">
        <router-outlet></router-outlet>
    </div>
</div>